@page "/store"
<link rel="stylesheet" href="css/TestingStyles.css" />


<body>
    <h1>Welcome to our store</h1>

    <div class="ecommerceContents">
        <div class="containerProduct">

            <div class="image">
                <img class="productImage" src="joints.jpg" alt="">
            </div>

            <div class="text">
                <h1 class="productName">Harvest Vase</h1>
                <h4 class="productSubtext">Studio And Friends</h4>

                <p class="productDescription">Harvest Vases are a reinterpretation
                    of peeled fruits and vegetables as functional objects.
                </p>

                <div class="bottomCard">
                    <h2 class="productPrice">$79</h2>
                    <button class="productBuy">BUY NOW</button>
                </div>
            </div>
        </div>

         <div class="containerProduct">

            <div class="image">
                <img class="productImage" src="joints.jpg" alt="">
            </div>

            <div class="text">
                <h1 class="productName">Harvest Vase</h1>
                <h4 class="productSubtext">Studio And Friends</h4>

                <p class="productDescription">Harvest Vases are a reinterpretation
                    of peeled fruits and vegetables as functional objects.
                </p>

                <div class="bottomCard">
                    <h2 class="productPrice">$79</h2>
                    <button class="productBuy">BUY NOW</button>
                </div>
            </div>
        </div>


        <div class="containerProduct">

            <div class="image">
                <img class="productImage" src="joints.jpg" alt="">
            </div>

            <div class="text">
                <h1 class="productName">Harvest Vase</h1>
                <h4 class="productSubtext">Studio And Friends</h4>

                <p class="productDescription">
                    Harvest Vases are a reinterpretation
                    of peeled fruits and vegetables as functional objects.
                </p>

                <div class="bottomCard">
                    <h2 class="productPrice">$79</h2>
                    <button class="productBuy">BUY NOW</button>
                </div>
            </div>
        </div>
    </div>

</body>

@code {

}
